HELP.md
ib/ib/target/
!ib/ib/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
ib/ib/.apt_generated
ib/ib/.classpath
ib/ib/.factorypath
ib/ib/.project
ib/ib/.settings
ib/ib/.springBeans
ib/ib/.sts4-cache

### IntelliJ IDEA ###
ib/ib/.idea
ib/ib/*.iws
ib/ib/*.iml
ib/ib/*.ipr

### NetBeans ###
ib/ib/nbproject/private/
ib/ib/nbbuild/
ib/ib/dist/
ib/ib/nbdist/
ib/ib/.nb-gradle/
ib/ib/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
ib/ib/.vscode/

# Exclude application properties file
ib/ib/application.properties
