.user-panel {
    max-width: 30vw;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-panel-anchor {
    position: relative;
}

.user-panel-name {
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  color: white;
}

.user-panel-img {
    height: 10vh;
    margin-right: 1vh;
}

.user-panel-inner {
    position: absolute;
    width: 100%;
    background-color: black;
    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
  z-index: 10000;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white; /* Change this to set the color of the triangle */
  margin: 5vh 2vh;
}
