.nav-bar {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-img {
    height: 8vh;
    display: block;
    padding: 1vh;
}
